
/* XXL
*********************************************************************************************/

.row {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.row .one-quarter, .row .three-quarters, .row .one-third, .row .two-thirds, .row .one-half, .row .one {
    float: left;
    min-height: 1px;
    padding: 0 20px;
}

.row.stacked .one-quarter, .row.stacked .three-quarters, .row.stacked .one-third, .row.stacked .two-thirds, .row.stacked .one-half, .row.stacked .one {
    padding: 0;
}

.row .one-quarter {
    width: 245px;
}

.row.stacked .one-quarter {
    width: 285px;
}

.row .three-quarters {
    width: 815px;
}

.row.stacked .three-quarters {
    width: 855px;
}

.row .one-third {
    width: 340px;
}

.row.stacked .one-third {
    width: 380px;
}

.row .two-thirds {
    width: 720px;
}

.row.stacked .two-thirds {
    width: 760px;
}

.row .one-half {
    width: 530px;
}

.row.stacked .one-half {
    width: 570px;
}

.row .one {
    width: 1100px;
}

.row.stacked .one {
    width: 1140px;
}

img, object, embed {
    max-width: 100%;
}

/* XL
*********************************************************************************************/

@media (max-width: 1160px) {
    
    .row {
        width: 960px;
    }
    
    .row .one-quarter {
        width: 200px;
    }
    
    .row.stacked .one-quarter {
        width: 240px;
    }
    
    
    .row .three-quarters {
        width: 680px;
    }
    
    .row.stacked .three-quarters {
        width: 720px;
    }
    
    .row .one-third {
        width: 280px;
    }
    
    .row.stacked .one-third {
        width: 320px;
    }
    
    .row .two-thirds {
        width: 600px;
    }
    
    .row.stacked .two-thirds {
        width: 640px;
    }
    
    .row .one-half {
        width: 440px;
    }
    
    .row.stacked .one-half {
        width: 480px;
    }
    
    .row .one {
        width: 920px;
    }
    
    .row.stacked .one {
        width: 960px;
    }
    
}

/* L
*********************************************************************************************/

@media (max-width: 980px) {
    
    .row {
        width: 780px;
    }
    
    .row .one-quarter {
        width: 155px;
    }
    
    .row.stacked .one-quarter {
        width: 195px;
    }
    
    .row .one-third {
        width: 220px;
    }
    
    .row.stacked .one-third {
        width: 260px;
    }
    
    .row .one-half {
        width: 350px;
    }
    
    .row.stacked .one-half {
        width: 390px;
    }
    
    .row .three-quarters,
    .row .two-thirds,
    .row .one {
        width: 740px;
    }
    
    .row.stacked .three-quarters,
    .row.stacked .two-thirds,
    .row.stacked .one {
        width: 780px;
    }
    
}

/* M
*********************************************************************************************/

@media (max-width: 820px) {
    
    .row {
        width: 600px;
    }
    
    .row .one-third {
        width: 160px;
    }
    
    .row.stacked .one-third {
        width: 200px;
    }
    
    .row .one-quarter,
    .row .one-half {
        width: 260px;
    }
    
    .row.stacked .one-quarter,
    .row.stacked .one-half {
        width: 300px;
    }
    
    .row .three-quarters,
    .row .two-thirds,
    .row .one {
        width: 560px;
    }
    
    .row.stacked .three-quarters,
    .row.stacked .two-thirds,
    .row.stacked .one {
        width: 600px;
    }
    
}

/* M
*********************************************************************************************/

@media (max-width: 640px) {

    .row {
        width: 480px;
    }
    
    .row .one-third {
        width: 120px;
    }
    
    .row.stacked .one-third {
        width: 160px;
    }
    
    .row .one-quarter,
    .row .one-half {
        width: 200px;
    }
    
    .row.stacked .one-quarter,
    .row.stacked .one-half {
        width: 240px;
    }
    
    .row .three-quarters,
    .row .two-thirds,
    .row .one {
        width: 440px;
    }
    
    .row.stacked .three-quarters,
    .row.stacked .two-thirds,
    .row.stacked .one {
        width: 480px;
    }
    
}

/* S
*********************************************************************************************/

@media (max-width: 520px) {
    
    .row {
        width: 360px;
    }
    
    .row .one-third {
        width: 80px;
    }
    
    .row.stacked .one-third {
        width: 120px;
    }
    
    .row .one-quarter {
        width: 140px;
    }
    
    .row.stacked .one-quarter {
        width: 180px;
    }
    
    .row .three-quarters,
    .row .two-thirds,
    .row .one-half,
    .row .one {
        width: 320px;
    }
    
    .row.stacked .three-quarters,
    .row.stacked .two-thirds,
    .row.stacked .one-half,
    .row.stacked .one {
        width: 360px;
    }
    
}

/* XS
*********************************************************************************************/

@media (max-width: 400px) {
    
    .row .one-quarter, .row .three-quarters, .row .one-third, .row .two-thirds, .row .one-half, .row .one {
        padding: 0;
    }
    
    
    .row {
        width: 300px;
    }
    
    .row .one-quarter,
    .row .three-quarters,
    .row .one-third,
    .row .two-thirds,
    .row .one-half,
    .row .one {
        width: 300px;
    }
    
}