* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

fieldset {
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 2.5em 0 1.5em 0;
}

fieldset:first-of-type {
  padding-top: 0;
}

fieldset.buttons {
  border: 0;
}

.field {
  margin-bottom: 1em;
}
.field > label {
  display: block;
  margin-bottom: 0.2em;
}
.field .tip {
  font-size: 0.8em;
}
.field input, .field textarea {
  width: 30em;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
  padding: 0.3em 0.5em;
}
.field textarea {
  height: 6em;
}
.field input[type=radio], .field input[type=checkbox] {
  width: auto;
}
.field .redactor_box {
  width: 31em;
}

.message {
  margin-bottom: 1em;
}

.home-link {
  margin-bottom: 1em;
}

nav.primary {
  background-color: #333;
  color: #fff;
  font-size: 12px;
  width: 8em;
  padding: 1.5em;
  float: left;
  box-shadow: 0 0 10px #000;
  z-index: 10;
}
nav.primary ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.primary li {
  margin-bottom: 1em;
}
nav.primary a {
  color: #fff;
  text-decoration: none;
}

body > .clip {
  float: left;
  overflow: hidden;
}
body > .clip .container {
  overflow: hidden;
}
body > .clip .content {
  width: 38em;
  float: left;
  padding: 2em;
  box-shadow: 0 0 10px #000;
  overflow: scroll;
  z-index: 6;
}
body > .clip .content > h1 {
  margin-top: 0;
}
body > .clip .viewer {
  float: left;
  border: 0;
}

.content.logged-out {
  padding: 2em;
}
.content.logged-out > h1 {
  margin-top: 0;
}
