
/* Additional Admin Styles
*********************************************************************************************/

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.tab-pane,
form {
    margin-bottom: 40px;
}

.page-header.extra-margin {
    margin-bottom: 20px;
}

.hero-unit h1 {
    margin-bottom: 10px;
}

.hero-nav {
    margin-top: 15px;
}

.accordion-group {
    border: none;
}

h1 a {
    color: #333;
}

h1 a:hover {
    text-decoration: none;
}

.screenshot-frame {
    width: 260px;
    height: 180px;
    position: absolute;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.save-loading,
.alert-success {
    position: fixed;
    width: 100%;
    top: 40px;
    left: 0;
    z-index: 100000;
}

.save-loading {
    height: 16px;
}

.alert-success {
    border-radius: 0;
}

/* Appearance Panel
*********************************************************************************************/

.thumbnail {
    line-height: 18px;
}

.thumbnail h3 {
    margin-top: 5px;
}

.thumbnail span.badge {
    position: absolute;
    margin: 6px 0 0 5px;
    height: 13px;
}

.thumbnail h6 {
    margin: 2px 0 4px;
}

.thumbnail form {
    float: left;
    margin: 0 4px 0 0;
}

.thumbnail .modal form {
    float: right;
    margin: 0 0 0 4px;
}

.thumbnail img {
    background: #333333;
    min-width: 260px;
    min-height: 180px;
}

/* Forms
*********************************************************************************************/

textarea {
    min-width: 50%;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.wysihtml5-sandbox {
    min-width: 50%;
}

.help-block {
    color: #808080;
}
